<div class="row">
  <div class="col-md-12"><h1>What's up</h1></div>
</div>
<div class="row">
  <%= form_for(@micropost) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <div class="col-md-10">
        <%= f.text_area :content ,:cols => "115", :rows => "3"%>
      </div>
      <%= f.file_field :image %>
      <div class="col-md-2">
        <%= f.submit "Submit",:class=>"btn btn-primary" %>
      </div>
  <% end %>
</div>
