<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'bootstrap', :media => 'all' %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
   <header>
     <%= link_to image_tag("logo.png", :alt =>"Sample App", :class => "round"),pages_home_path  %>
     <nav class="round">
       <ul>
         <li><%= link_to "Home", pages_home_path %></li>
         <li><%= link_to "Help", '#' %></li>
         <li><%= link_to "Sign in", '#' %></li>

       </ul>
     </nav>
   </header>

   <section>
     <%= yield %>
   </section>

   <%= render 'layouts/footer' %>
 </div>

</body>
</html>
